:80 {
  encode gzip zstd

  @orderbook path /ws/orderbook
  reverse_proxy @orderbook trader:8080

  @events path /ws/events
  reverse_proxy @events trader:8080

  @token_icon path /token-icon/*
  reverse_proxy @token_icon trader:8080

  @admin path /admin /admin/*
  basicauth @admin {
      admin $2y$05$GQKUfpzlM2Z.mci5wPbhb.BxR455MyvEyXqhYjiFFZCy6kubs6FhC
  }

  reverse_proxy gateway:3000
}
