:80 {
  encode gzip zstd

  @orderbook path /ws/orderbook
  reverse_proxy @orderbook trader:8080

  @events path /ws/events
  reverse_proxy @events trader:8080

  @token_icon path /token-icon/*
  reverse_proxy @token_icon trader:8080

  @admin path /admin /admin/*
  @admin_not_localhost not remote_ip 127.0.0.1/32 ::1
  respond @admin @admin_not_localhost 403

  reverse_proxy gateway:3000
}
