version: "3.9"

services:
  app:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    image: funding-rate-arb-trader:latest
    container_name: funding-rate-arb-trader
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./logs:/var/log/funding-rate-arb-trader
