services:
  trader:
    platform: linux/amd64
    build:
      context: ./trader
      dockerfile: Dockerfile
    image: funding-rate-arb-trader:latest
    container_name: funding-rate-arb-trader
    restart: unless-stopped
    env_file:
      - ./trader/.env
    ports:
      - "8080:8080"
    volumes:
      - ./trader/logs:/var/log/funding-rate-arb-trader

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    image: funding-rate-arb-gateway:latest
    container_name: funding-rate-arb-gateway
    depends_on:
      - trader
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://trader:8080
    ports:
      - "3000:3000"
